.form-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    display: flex;
    align-items: center;
    padding: 5px;
    position: relative;
    text-decoration: underline;
}

.form input {
    width: 100%;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
}

.form textarea {
    width: 100%;
    height: 100px;
    padding: 10px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    resize: vertical;
}

button {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transition: .3s ease;
}

button:hover {
    background-color: rgb(56, 90, 194);
}

.status {
    margin-top: 10px;
    font-size: 14px;
    padding: 5px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid rgba(105, 105, 105, 0.397);
}


@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}